# macOS
.DS_Store

# Swift Package Manager
/.build
/Packages

# Xcode specific
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata

# SwiftPM configuration
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Credentials
.netrc
